//  before  and after any html make box-sizing
*,*::before,*::after,html{
    @include prefixer(box-sizing,border-box,webkit moz);
}

//  body margin and paddin zero and font , backgroun-color
body{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Roboto Mono', monospace;
    background-color: #F5F5F5;

}

//  ul , li
ul{
    li{
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

//  all head
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

//  all link a 
a{
    text-decoration: none;
}

//  container
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media #{$minMobile}{
        max-width: 540px;
    }
    @media #{$minMedium}{
        max-width: 720px;
    }
    @media #{$minLarge}{
        max-width: 960px;
    }
    @media #{$minXlarge}{
        max-width: 1140px;
    }
}


//  class center make text-align center
.center{
        text-align: center;
}



//  all section margin top 200px in large screen 
section{
    margin-top: 200px;
    // but  all section margin top 100px in mobile screen 
    @media #{$maxMobile}{
       margin-top: 100px;
    }
}

//  all title inside section 
.title{
    text-align: center;
    h5{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: capitalize;
    }
    i{
        color: $mainColor;
        font-size: 20px;
    }
}

//  class activet
.active{
    display: block ;
}


